<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Projet_Contacts</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createContact</display-name>
    <servlet-name>createContact</servlet-name>
    <servlet-class>servlets.createContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createContact</servlet-name>
    <url-pattern>/createContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contactServlet</display-name>
    <servlet-name>contactServlet</servlet-name>
    <servlet-class>servlets.contactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactServlet</servlet-name>
    <url-pattern>/contactServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
  	<description>MySQL DataSource example</description>
  	<res-ref-name>jdbc/jee</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
</web-app>